{% extends '::base.html.twig' %}

{% block body %}

<a href="producto1"><img class="left" src="http://static.musiciansfriend.com/derivates/18/001/294/851/DV016_Jpg_Large_517733.148_cadillac_green_R.jpg" alt="producto1" /></a>
<a href="producto2"><img class="right" src="http://www.guitarworld.com/files/imce-images/Rickenbacker.JPG" alt="producto2" /></a>

{% endblock %}
