{% extends '::base.html.twig' %}

{% block body %}

<h1>Gretsch Cadillac</h1>
<img class="left" src="http://static.musiciansfriend.com/derivates/18/001/294/851/DV016_Jpg_Large_517733.148_cadillac_green_R.jpg" alt="producto1" />

{% endblock %}
