{% extends '::base.html.twig' %}

{% block body %}

<h1>Rickenbacker 330</h1>
<img class="right" src="http://www.guitarworld.com/files/imce-images/Rickenbacker.JPG" alt="producto2" />

{% endblock %}
